
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


#logo {
	height: 50px;
	width: 50px;
}

#cartLogo {
	font-size: 1.5em;
	color: black;
	margin-right: 10px;
	text-decoration: none;
}

#cartLogo:hover {
	color: rgba(0,0,0,.75);
}


#cartLogo>i {
	margin-right: 10px;
}

#cartLogo>span	 {
	font-size: .5em;
}


#ftItems {
	padding: 0;
	margin-left: 15px;
	border:none;

}

.cat {
	color: black;
}

.cat:hover {
	color: rgba(0,0,0,.5);
	text-decoration: none;
}


#collapseThree {
	border-bottom: 1px solid rgba(0,0,0,.125)
}


.btn {
	color: black;
}

.card {
	margin-bottom: 10px;
	width: 18rem;


}



#sale>.card>.card-header>.mb-0>.btn {
	color: red;
}



.page-item {
	text-align: right;
}


/*footer*/

footer {
	background-color: #1a1a1a;
	color: white;
}

footer>div>ul>li {
	font-size: .75em;
	list-style: none;
}

.categoryft {
	font-size: 1em;
}

.newsdiv {
	padding-right: 200px;
}

#newsletter {
	background-color: transparent;
	border:none;
	width: 18rem;

}

.modal-content {
	background-color: #1a1a1a;
}

#signUp {
	color: white;

}

.footercat {
	padding-top: 25px;
}

.footercat>.ul>li>a {
	color: white;

}

.col-lg-3 {
	padding-left: 0px;
}

.close {
	color: white;
}










@media only screen and (max-width: 450px) {

	#searchbar {
	width: 220px;
	margin-right: 20px;
	}	
	.container-fluid {
		padding-right: 15px;
	}

	#ftItems {
		border:none;
		margin-top: 0;
		
	}

	#sale, #tops, #bottom, #accessories {
		width: 92.5vw;

	}

	.card {
		margin: auto;
		margin-top: 10px;
	
	}

	.rightside >.card {

		margin-left: 44px;
	}

	#searchbar {
		width: 70vw;
		margin-right: 10px;
	}

	.pageholder {
		margin-left: 70px;
		margin-top: 20px;
}

	.newsdiv {
		padding-right: 5px;
		margin-left: 0px;
	}

	#logo {
		position: relative;

		left: 20px;
	}
}



/*tablet*/

@media (min-width: 451px) and (max-width: 768px) {


	.container-fluid {
		padding-right: 15px;
	}

	.offset-sm-1 {
		padding-left: 0;
	}

	.row>#ftItems>.accordion>.card {
		width: 735px;
	}

	.row {
		margin-right: 0;
	}

	.pageholder {
		margin-left: 270px;
	}

	.newsdiv {
		margin-left: 250px;
	}

	#footer {
		width: 768px;
	}

}